<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
  </head>
  <title>About</title>
  <body>    
    <main>
      {{>header}}
      <img class="border-img" src="/img/SimonRosenkvist.jpeg">
      <p>This is created by {{name}} <br/>Im not this beardy usually, but still good looking!</p>
      <p><i class="small-text">This site uses data from mapbox.com and weatherstack.com</i></p>
    </main>
    {{>footer}}
  </body>
</html>