<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
  </head>
  <title>help</title>
  <body>
    <main>
      {{>header}}
      <p>{{help}}</p>
    </main>
    {{>footer}}
  </body>
</html>