<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF8">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
    <script type="text/javascript" src="/js/app.js"></script>
  </head>
  <title>Home</title>
  <body>
    <main>
      {{>header}}
      <p>Useful site for weather by: {{name}} {{lastName}}</p>
      <form id="weatherForm">
      <input id="searchInput" type="text" placeholder="Address">
      <button id="searchButton">Search</button>
      </form>
      <p id="response"></p>
      <p id="loading"></p>
      <img id="icon" width="90px">
      <p class="small-text hidden"><i>Maybe one day weatherstack will provide nicer icons...</i></p>
    </main>
  {{>footer}}
  </body>
</html>