<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
  </head>
  <title>404</title>
  <body> 
    <main>
      {{>header}}
      <p>{{message}}</p>
    </main>
  {{>footer}}
  </body>
</html>