<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/icon.png">
  </head>
  <title>404</title>
  <body> 
    <main>
      {{>header}}
      <h2>{{message}}</h2>
      <img src='img/cthulhu.jpg' width="480px">
    </main>
  {{>footer}}
  </body>
</html>